<?xml version="1.0"?>
<config>
	<modules>
		<John_Categorypage>
			<version>1.0.0</version>
		</John_Categorypage>
	</modules>
	<global>
		<models>
            <categorypage>
                <class>John_Categorypage_Model</class>
            </categorypage>
        </models>
		<resources>
			<categorypage_setup>
				<setup>
					<module>John_Categorypage</module>
					<class>Mage_Catalog_Model_Resource_Eav_Mysql4_Setup</class>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</categorypage_setup>
			<categorypage_write>
				<connection>
					<use>core_write</use>
				</connection>
			</categorypage_write>
			<categorypage_read>
				<connection>
					<use>core_read</use>
				</connection>
			</categorypage_read>
		</resources>
		<helpers>
			<categorypage>
				<class>John_Categorypage_Helper</class>
			</categorypage>
		</helpers>
		<events>
			<page_block_html_topmenu_gethtml_before>
				<observers>
					<catalog_add_topmenu_items>
						<type>disabled</type>
					</catalog_add_topmenu_items>
					<categorypage_add_topmenu_items>
						<class>categorypage/observer</class>
						<method>addCatalogToTopmenuItems</method>
					</categorypage_add_topmenu_items>
				</observers>
			</page_block_html_topmenu_gethtml_before>
		</events>
	</global>
</config>